
@{
    ViewData["Title"] = "demo1_1";
}

<h1>demo1_1</h1>
@{ 
    var N = 9;
    int A = 11;
    dynamic M = 5;
    M = "Anh";
}
RAZOR
@for (int i = 1; i < 11; i++)
{
    <div>@N  x @i  = @(N*i)</div>
}

